<div class="article-list">
  <div class="container">
    <div class="intro">
        <h1 class="text-center"> Profil de l'auteur </h2>
        <div class="card row ">
            <div class="col-md-8 px-3">
                <div class="card-block px-3">
                <h2 class="card-title"><%=@user.first_name %> <%=@user.last_name %></h5>
                <p class="card-text">Adresse e-mail: <%= @user.email %></p>
            </div>
        </div>
    </div>
    <h2 class = "row">Articles de l'auteur:</h2>
    <div class="row articles">
      <% @posts.each do |post| %>
        <div class="col-sm-6 col-md-4 card d-lg-flex justify-content-center align-items-center">
          <div class="img">
            <%= image_tag post.image.url(:thumb)%>
          </div>
          <div class="name">
            <a href ="<%= post_path(post.id) %>" class="btn btn-outline-primary">
              <h4 class="card-title"><%= post.title%></h4>
            </a>
          </div>
          <p class="description text-center">
            <%= post.description.truncate_words(30)%>
          </p>
            <% if User.find(post.user_id) == current_user %>
            <div>
              <a href ="<%= edit_post_path(post.id) %>" class="btn btn-outline-success"> Editer </a>
              <a href ="<%= post_path(post.id) %>" class="btn btn-outline-danger" data-method="DELETE" data-confirm ="Confirmer la suppression ?"> Supprimer </a>
            </div>
            <% end %>
          <div class="card-footer w-100 text-muted">
              Edité le <%= post.updated_at%>
          </div>
        </div>
      <% end %> 
    </div>
    <div class="row action">
        <%= paginate @posts %>
        <a href="<%= posts_path%>" class="btn btn-primary"> Retour aux articles </a>
    </div>
  </div>
</div>