<h2 class= "h2 text-center"> Profil de l'auteur </h2>
<div class="container py-3">
  <div class="card">
    <div class="row ">
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h5 class="card-title"><%=@user.first_name %> <%=@user.last_name %></h5>
          <p class="card-text">Adresse e-mail: <%= @user.email %></p>
        </div>
      </div>
    </div>
    <h2 class = "row">Articles de l'auteur</h2>
    <div class = "row">
    <% @posts.each do |post| %>
    <div class="card flex-row flex-wrap">
      <!-- <div class="card-header border-0">
        <img src="/img/<=post.image %>" alt="image-post" height=50 width=100>
      </div> -->
      <div class="card-block px-2">
        <a href ="<%= post_path(post.id) %>" class="btn btn-outline-primary">
          <h4 class="card-title"><%= post.title%></h4>
        </a>
        <p class="card-text"><%= post.description.truncate_words(30)%></p>
        <% if User.find(post.user_id) == current_user %>
        <a href ="<%= edit_post_path(post.id) %>" class="btn btn-outline-success"> Editer </a>
        <a href ="<%= post_path(post.id) %>" class="btn btn-outline-danger" data-method="DELETE" data-confirm ="Confirmer la suppression ?"> Supprimer </a>
        <% end %>
      </div>
      <div class="w-100"></div>
      <div class="card-footer w-100 text-muted">
        Edité le <%= post.updated_at%>
      </div>
    </div>
    <br>
  <% end %>
  </div>
  <a href="<%= posts_path%>" class="btn btn-primary"> Retour aux articles </a>
</div>
