<h2 class= "h2 text-center"> Liste des posts</h2>
<div class="container">
  <% @posts.each do |a_post| %>
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img src="/img/<%=a_post.image %>" alt="image-post" height=50 width=100>
      </div>
      <div class="card-block px-2">
        <a href ="<%= post_path(a_post.id) %>" class="btn btn-outline-primary">
          <h4 class="card-title"><%= a_post.title%></h4>
        </a>
        <p class="card-text"><%= a_post.description%> </p>
        <a href ="<%= edit_post_path(a_post.id) %>" class="btn btn-outline-success"> Editer </a>
        <a href ="<%= post_path(a_post.id) %>" class="btn btn-outline-danger"> Supprimer </a>
      </div>
      <div class="w-100"></div>
      <div class="card-footer w-100 text-muted">
        <%= a_post.date%>
        ID : <%= a_post.user_id%>
      </div>
    </div>
    <br>
  <% end %>
</div>
