<h2 class= "h2 text-center"> Détails de l'article </h2>
<div class="container py-3">
  <div class="card">
    <div class="row ">
      <!-- <div class="col-md-4">
        <= image_tag @post.image alt:"Card image" width:"100%"%>
      </div> -->
      <div class="col-md-8 px-3">
        <div class="card-block px-3">
          <h5 class="card-title"><%=@post.title %></h5>
          <p class="card-text"><%= @post.description %></p>
          <p class="card-text"> 
            Publié 
            <% if @post.user_id != nil %>
              par
              <a href ="<%= users_path %>" class="btn btn-outline-info">
              <%= User.find(@post.user_id.to_i).first_name%>
              </a>
            <% end %>
            le <%= @post.created_at %> 
            <% if @post.created_at != @post.updated_at %>
            puis édité le <%= @post.updated_at%>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a href="<%= posts_path%>" class="btn btn-primary"> Retour aux articles </a>
</div>
